@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/Student/UpdateStudent" method="post">
    <input type="type" name="Student_ID" placeholder="Student_ID" />
    <input type="type" name="Student_Name" placeholder="Student_Name" />
    <input type="type" name="Student_Email" placeholder="Student_Email" />
    <input type="type" name="Mobile_number" placeholder="Mobile_number" />
    <input type="type" name="Student_Address" placeholder="Student_Address" />
    <input type="date" name="admission_date" placeholder="admission_date" />
    <input type="type" name="fees" placeholder="fees" />
    <input type="type" name="status" placeholder="status" />
    <input type="submit" value="submit" />
</form>