@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h3>Search students by status</h3>
<form action="/Student/SearchStudentDisplay" method="post">
    <input type="type" name="status" value="" placeholder="Enter status" /> 
    <input type="submit" value="Search"/>
</form>
