@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/student/UpdateStudent" method="post">
    <input type="type" name="Student_Id" placeholder="Enter Student_Id" />
    <input type="type" name="Student_Name" placeholder="Enter Student_Name" />
    <input type="email" name="Student_Email_Id" placeholder="Enter Student_Email_Id" />
    <input type="type" name="Mobile_number" placeholder="Enter Mobile_number" />
    <input type="type" name="Student_address" placeholder="Enter Student_address" />
    <input type="date" name="Admission_date" placeholder="Enter Admission_date" />
    <input type="type" name="Fees" placeholder="Enter Fees" />
    <input type="type" name="Status" placeholder="Enter Status" />
    <input type="submit" value="Submit" />
</form>